<@override name="head_top">
<!-- 全局js -->
<script src="${request.contextPath}/plug/echarts/echarts.common.min.js"></script>
<script src="${request.contextPath}/plug/echarts/theme/macarons.js"></script>
<script src="${request.contextPath}/plug/echarts/theme/westeros.js"></script>
</@override>
<@override name="content">
    <div class="row">
        <div class="col-sm-3 ui-sortable">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">急</span>
                    <h5>订单</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">${order.sendingNum!}</h1>
                    <small><a href="javascript:;" class="opFrames" data-name="订单管理" data-href="${request.contextPath}/admin/order/index">待发货</a> </small>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-3 ui-sortable">-->
            <!--<div class="ibox float-e-margins">-->
                <!--<div class="ibox-title">-->
                    <!--<span class="label label-info pull-right">待</span>-->
                    <!--<h5>订单</h5>-->
                <!--</div>-->
                <!--<div class="ibox-content">-->
                    <!--<h1 class="no-margins">0</h1>-->
                    <!--<small><a href="javascript:;" class="opFrames" data-name="订单管理" data-href="{:Url('order.store_order/index',['status'=>-1])}">退换货</a></small>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-sm-3 ui-sortable" >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">急</span>
                    <h5>商品</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">${alarmGoods!}</h1>
                    <small><a href="javascript:;" class="opFrames" data-name="商品管理" data-href="{:Url('store.store_product/index',array('type'=>5))}">库存预警</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ui-sortable">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">待</span>
                    <h5>待提现</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">${cashDeal!}</h1>
                    <small><a href="javascript:;" class="opFrames" data-name="提现盛情" data-href="{:Url('finance.user_extract/index')}">待提现</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ui-sortable">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">昨</span>
                    <h5>订单</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">${order.yestoday!}</h1>
                    <small><a href="javascript:;" class="opFrames" data-name="订单管理" data-href="{:Url('order.store_order/index')}?data=yesterday">昨日支付订单数</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ui-sortable">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">昨</span>
                    <h5>交易</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">${yesTodayMoney!}</h1>
                    <small><a href="javascript:;" class="opFrames" data-name="订单管理" data-href="{:Url('order.store_order/index')}?data=yesterday">昨日交易额</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ui-sortable">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">月</span>
                    <h5>交易</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">${monthMoney!}</h1>
                    <small><a href="javascript:;" class="opFrames" data-name="订单管理" data-href="{:Url('order.store_order/index')}?data=yesterday">本月交易额</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ui-sortable">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">今</span>
                    <h5>粉丝</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">${todayUser!}</h1>
                    <small><a href="javascript:;" class="opFrames" data-name="会员管理" data-href="{:Url('user.user/index')}">今日新增粉丝</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ui-sortable">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">月</span>
                    <h5>粉丝</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">${monehUser!}</h1>
                    <small><a href="javascript:;" class="opFrames" data-name="会员管理" data-href="{:Url('user.user/index')}">本月新增粉丝</a></small>
                </div>
            </div>
        </div>

    </div>
<!--<div id="app">-->
    <!--<div class="row" >-->
        <!--<div class="col-lg-12">-->
            <!--<div class="ibox float-e-margins">-->
                <!--<div class="ibox-title">-->
                    <!--<h5>用户</h5>-->
                <!--</div>-->
                <!--<div class="ibox-content">-->
                    <!--<div class="row">-->
                        <!--<div class="col-lg-12">-->
                            <!--<div class="flot-chart">-->
                                <!--<div class="flot-chart-content" ref="user_echart" id="flot-dashboard-chart2"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<style scoped>
    .box{width:0px;}
</style>
</@override>
<@extends name="../public/container.html"/>
