<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="browsermode" content="application">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <!-- 禁止百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <title>审核</title>
    <link rel="stylesheet" href="${request.contextPath}/web/css/reset.css?v=${verison!}">
    <link rel="stylesheet" href="${request.contextPath}/web/css/base.css?v=${verison!}">
    <link rel="stylesheet" href="${request.contextPath}/web/css/aduiting.css?v=${verison!}">
</head>
<body style="background-color: rgb(245, 245, 245);">
<div data-role="page">
    <div class="app">
        <div class="aduiting router">
            <div class="wrapper">
                <div class="msg"><#if msg??>${msg!}<#else>申请失败，请联系客服</#if></div>
                <div class="confirm-container">
                    <a class="keepBnt bg-color-red" href="${request.contextPath}/web/userCenter">返回个人中心</a>
                    <#if status?? && status==2>
                        <a class="keepBnt bg-color-black" href="${request.contextPath}/web/resetApply/${type!}">重新申请</a>
                    </#if>
                    <#if status?? && status==-1>
                        <a class="keepBnt bg-color-black" href="${request.contextPath}/web/resetApply/${type!}">重新申请</a>
                    </#if>
                    <#if !msg??>
                        <a class="keepBnt bg-color-black" href="${request.contextPath}/web/resetApply/${type!}">重新申请</a>
                    </#if>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="${request.contextPath}/web/js/media_750.js"></script>
<script type="text/javascript" src="${request.contextPath}/web/js/jquery.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/web/js/jquery.mobile.min.js"></script>
<script>

</script>
</html>