<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="browsermode" content="application">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <!-- 禁止百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <title>个人中心</title>
    <link rel="stylesheet" href="${request.contextPath}/web/css/reset.css?v=${verison!}">
    <link rel="stylesheet" href="${request.contextPath}/web/css/base.css?v=${verison!}">
    <link rel="stylesheet" href="${request.contextPath}/web/css/user-center.css?v=${verison!}">
    <link rel="stylesheet" href="${request.contextPath}/plug/layui/css/layui.css" media="all">
</head>
<script type="text/javascript" src="${request.contextPath}/web/js/media_750.js"></script>
<script type="text/javascript" src="${request.contextPath}/web/js/jquery.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/web/js/jquery.mobile.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/web/js/common.js?v=${verison!}"></script>
<script src="${request.contextPath}/js/layer.js"></script>
<body style="background-color: rgb(245, 245, 245);">
<div data-role="page">
    <div class="app">
        <div class="user router">
            <div class="header">
                <div class="acea-row row-between-wrapper message">
                    <div class="picTxt acea-row row-between-wrapper">
                        <div class="pictrue">
                            <img src="${data.headImg!}">
                        </div>
                        <div class="text">
                            <div class="acea-row row-middle">
                                <div class="name line1">
                                    <#if data.userName??>${data.userName!}<#else>${data.nickName!}</#if>
                                    <#if data.isVip==1><span class="lable">VIP</span></#if>
                                    <#if data.isSpread==1><span class="lable">合伙人</span></#if>
                                    <#if data.userType=='2'><span class="lable">掌柜</span></#if>
                                </div>
                            </div>
                            <a href="${request.contextPath}/web/userSetting" class="bind-phone">
                                <#if data.phone??&&data.phone?length gt 0>${data.phone}<#else>绑定手机号</#if>
                                <img src="${request.contextPath}/web/images/edit.png">
                            </a>
                        </div>
                    </div>
                    <a href="${request.contextPath}/web/userSetting">
                        <img src="${request.contextPath}/web/images/user-set.png" alt="" style="width: 26px;">
                    </a>
                </div>
                <div class="nav acea-row row-middle">
                    <a href="${request.contextPath}/web/acctbkInfo" class="item">
                        <div class="num">${data.webMoney!}</div>
                        <div>余额(元)</div>
                    </a>
                    <a href="${request.contextPath}/web/scoreInfo" class="item">
                        <div class="num">${data.score!}</div>
                        <div>积分</div>
                    </a>
                </div>
            </div>
            <div class="wrapper">
                <div class="myOrder">
                    <div class="title acea-row row-between-wrapper">
                        <div>我的订单</div>
                        <a href="${request.contextPath}/web/myOrder" class="allOrder">
                            全部订单&gt;
                        </a>
                    </div>
                    <div class="orderState acea-row row-middle">
                        <a href="${request.contextPath}/web/myOrder?status=1" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/daifukuan.png" alt=""/>
                                <#if groupOrder.status1 gt 0>
                                <uni-text class="order-status-num"><span> ${groupOrder.status1!}</span></uni-text>
                                </#if>
                            </div>
                            <div>待付款</div>
                        </a>
                        <a href="${request.contextPath}/web/myOrder?status=6" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/daipintuan.png" alt="" style="height:.448rem;"/>
                                <#if groupOrder.status6 gt 0>
                                <uni-text class="order-status-num"><span> ${groupOrder.status6!}</span></uni-text>
                                </#if>
                            </div>
                            <div>待拼团</div>
                        </a>
                        <a href="${request.contextPath}/web/myOrder?status=2" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/daifahuo.png" alt=""/>
                                <#if groupOrder.status2 gt 0>
                                <uni-text class="order-status-num"><span> ${groupOrder.status2!}</span></uni-text>
                                </#if>
                            </div>
                            <div>待发货</div>
                        </a>
                        <a href="${request.contextPath}/web/myOrder?status=3" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/daishouhuo.png" alt=""/>
                                <#if groupOrder.status3 gt 0>
                                <uni-text class="order-status-num"><span> ${groupOrder.status3!}</span></uni-text>
                                </#if>
                            </div>
                            <div>待收货</div>
                        </a>
                        <a href="${request.contextPath}/web/myOrder?status=5" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/yiwancheng.png" alt=""/>
                                <#if groupOrder.status5 gt 0>
                                <uni-text class="order-status-num"><span> ${groupOrder.status5!}</span></uni-text>
                                </#if>
                            </div>
                            <div>已完成</div>
                        </a>
                    </div>
                </div>
                <div class="myService">
                    <div class="title acea-row row-between-wrapper">
                        <div>我的服务</div>
                    </div>
                    <div class="serviceList acea-row row-middle">
                        <a href="${request.contextPath}/web/applyResult/3" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/sqcwzg.png" alt="">
                            </div>
                            <div>申请掌柜</div>
                        </a>
                        <a href="${request.contextPath}/web/applyResult/2" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/sqcwhhr.png" alt="">
                            </div>
                            <div>申请合伙人</div>
                        </a>
                        <a href="${request.contextPath}/web/applyResult/1" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/sqcwvip.png" alt="">
                            </div>
                            <div>申请VIP</div>
                        </a>
                        <a href="${request.contextPath}/web/qrCode" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/wdewm.png" alt="">
                            </div>
                            <div>我的二维码</div>
                        </a>
                        <a href="${request.contextPath}/web/addressList" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/dzgl.png" alt="">
                            </div>
                            <div>地址管理</div>
                        </a>
                        <a href="${request.contextPath}/web/myFans" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/wdfs.png" alt="">
                            </div>
                            <div>我的粉丝</div>
                        </a>
                        <a href="${request.contextPath}/web/myCollect" class="item">
                            <div class="pictrue">
                                <img src="${request.contextPath}/web/images/wodeshoucang.png" alt="">
                            </div>
                            <div>我的收藏</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <#include "include/footer.html" />
    <#include "include/right.html" />
</div>
<script>
    var parentId = '${parentId!}';
    var parentName = '${parentName!}';
        $(function(){
        if(parentId != '0'){
                $.ajax({
                      type: 'POST',
                      url: '${request.contextPath}/web/spread/add/'+parentId,
                      dataType:'json',
                      success: function(data){
                      }
                });
        }
    });
</script>
</body>
</html>