<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${request.contextPath}/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
<link href="${request.contextPath}/plug/layui/css/layui.css" rel="stylesheet">
<link href="${request.contextPath}/css/layui-admin.css" rel="stylesheet">
<link href="${request.contextPath}/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
<link href="${request.contextPath}/css/animate.min.css" rel="stylesheet">
<link href="${request.contextPath}/css/style.min.css?v=3.0.0" rel="stylesheet">
<script src="${request.contextPath}/js/jquery.min.js"></script>
<script src="${request.contextPath}/js/bootstrap.min.js"></script>
<script src="${request.contextPath}/plug/layui/layui.all.js"></script>
<script>
        $eb = parent._mpApi;
</script>
