<script type="text/javascript" src="${request.contextPath}/js/plugins/requirejs/require.js"></script>
<script>
    var hostname = location.hostname;
    if(location.port) hostname += ':' + location.port;
    requirejs.config({
        map: {
            '*': {
                'css': '${request.contextPath}/plug/requirejs/require-css.js'
            }
        },
        shim:{
            'iview':{
                deps:['css!iviewcss']
            },
            'layer':{
                deps:['css!layercss']
            }
        },
        baseUrl:'//'+hostname+'/',
        paths: {
            'static':'static',
            'system':'system',
            'vue':'plug/vue/dist/vue.min',
            'axios':'plug/axios.min',
            'iview':'plug/iview/dist/iview.min',
            'iviewcss':'plug/iview/dist/styles/iview',
            'lodash':'plug/lodash',
            'layer':'plug/layer/layer',
            'layercss':'plug/layer/theme/default/layer',
            'jquery':'plug/jquery/jquery.min',
            'moment':'plug/moment',
            'sweetalert':'plug/sweetalert2/sweetalert2.all.min',
            'formCreate':'plug/form-create/form-create.min',

        },
        basket: {
            excludes:['system/js/index','system/util/mpVueComponent','system/util/mpVuePackage']
        }
    });
</script>
<script type="text/javascript" src="${request.contextPath}/js/mpFrame.js"></script>