<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanson.mapper.ApplyCashOutBeanMapper">
  <resultMap id="BaseResultMap" type="com.hanson.entity.ApplyCashOutBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="cashout_type" jdbcType="INTEGER" property="cashoutType" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="card_type" jdbcType="VARCHAR" property="cardType" />
    <result column="weixin_no" jdbcType="VARCHAR" property="weixinNo" />
    <result column="zhifubao_name" jdbcType="VARCHAR" property="zhifubaoName" />
    <result column="zhifubao_no" jdbcType="VARCHAR" property="zhifubaoNo" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_apply_cashout
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanson.entity.ApplyCashOutBean">
    insert into t_apply_cashout (id, open_id, cashout_type, 
      card_name, card_no, card_type, 
      weixin_no, zhifubao_name, zhifubao_no, 
      money, status, remark, 
      create_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{cashoutType,jdbcType=INTEGER}, 
      #{cardName,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{weixinNo,jdbcType=VARCHAR}, #{zhifubaoName,jdbcType=VARCHAR}, #{zhifubaoNo,jdbcType=VARCHAR}, 
      #{money,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hanson.entity.ApplyCashOutBean">
    update t_apply_cashout
    set open_id = #{openId,jdbcType=VARCHAR},
      cashout_type = #{cashoutType,jdbcType=INTEGER},
      card_name = #{cardName,jdbcType=VARCHAR},
      card_no = #{cardNo,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      weixin_no = #{weixinNo,jdbcType=VARCHAR},
      zhifubao_name = #{zhifubaoName,jdbcType=VARCHAR},
      zhifubao_no = #{zhifubaoNo,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, open_id, cashout_type, card_name, card_no, card_type, weixin_no, zhifubao_name, 
    zhifubao_no, money, status, remark, create_date, update_date
    from t_apply_cashout
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, open_id, cashout_type, card_name, card_no, card_type, weixin_no, zhifubao_name, 
    zhifubao_no, money, status, remark, create_date, update_date
    from t_apply_cashout
  </select>
  <select id="listApplyCashOutBean" resultMap="BaseResultMap">
    SELECT
      t1.id,
      t1.open_id,
      t1.cashout_type,
      t1.card_name,
      t1.card_no,
      t1.card_type,
      t1.weixin_no,
      t1.zhifubao_name,
      t1.zhifubao_no,
      t1.money,
      t1.STATUS,
      t1.remark,
      t1.create_date,
      t1.update_date,
      t2.nick_name as userName,
      t2.phone
    FROM
     t_apply_cashout t1,t_user t2
    WHERE
      t1.open_id = t2.open_id
    <if test="applyCashOutBean.userName != null and applyCashOutBean.userName != ''">
      and (t2.nick_name like concat('%', #{applyCashOutBean.userName},'%') or t2.phone like concat('%', #{applyCashOutBean.userName},'%') or t2.user_name like concat('%', #{applyCashOutBean.userName},'%'))
    </if>
    <if test="applyCashOutBean.cashoutType != null">
      and  t1.cashout_type = #{applyCashOutBean.cashoutType}
    </if>
    <if test="applyCashOutBean.status != null">
      and  t1.STATUS = #{applyCashOutBean.status}
    </if>
      ORDER BY
      create_date DESC
  </select>
  <select id="statisDeal" resultType="java.lang.Integer">
    select count(1) from t_apply_cashout where status=0
  </select>
</mapper>