<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanson.mapper.GoodsTypeMappingBeanMapper">
  <resultMap id="BaseResultMap" type="com.hanson.entity.GoodsTypeMappingBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods_type_mapping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByGoodsId" parameterType="java.lang.Integer">
    delete from t_goods_type_mapping
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanson.entity.GoodsTypeMappingBean">
    insert into t_goods_type_mapping (id, goods_id, type_id, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hanson.entity.GoodsTypeMappingBean">
    update t_goods_type_mapping
    set goods_id = #{goodsId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, goods_id, type_id, create_date
    from t_goods_type_mapping
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByGoodsId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, goods_id, type_id, create_date
    from t_goods_type_mapping
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <select id="selectByTypeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
      goods_id
    FROM
      t_goods_type_mapping
    WHERE
      type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, goods_id, type_id, create_date
    from t_goods_type_mapping
  </select>
</mapper>