<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanson.mapper.GoodsContentBeanMapper">
  <resultMap id="BaseResultMap" type="com.hanson.entity.GoodsContentBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="change_time" jdbcType="TIMESTAMP" property="changeTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByGoodsId" parameterType="java.lang.Integer">
    delete from t_goods_content
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanson.entity.GoodsContentBean">
    insert into t_goods_content (id, goods_id, change_time, 
      content)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{changeTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hanson.entity.GoodsContentBean">
    update t_goods_content
    set goods_id = #{goodsId,jdbcType=INTEGER},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, goods_id, change_time, content
    from t_goods_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByGoodsId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, goods_id, change_time, content
    from t_goods_content
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, goods_id, change_time, content
    from t_goods_content
  </select>
</mapper>