<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanson.mapper.IndexSlideBeanMapper">
  <resultMap id="BaseResultMap" type="com.hanson.entity.IndexSlideBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_index_slide
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanson.entity.IndexSlideBean">
    insert into t_index_slide (id, image, title, 
      link_url, goods_id, create_date, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{linkUrl,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hanson.entity.IndexSlideBean">
    update t_index_slide
    set image = #{image,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, image, title, link_url, goods_id, create_date, update_date
    from t_index_slide
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, image, title, link_url, goods_id, create_date, update_date
    from t_index_slide
    order by create_date desc
  </select>
  <select id="listIndexSlides"  resultMap="BaseResultMap">
    select id, image, title, link_url, goods_id, create_date, update_date
    from t_index_slide
    where 1=1
    <if test="indexSlideBean.title != null and indexSlideBean.title != ''">
      and (title like concat('%', #{indexSlideBean.title},'%'))
    </if>
    order by create_date desc
  </select>
</mapper>