<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanson.mapper.SmsSeqBeanMapper">
  <resultMap id="BaseResultMap" type="com.hanson.entity.SmsSeqBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="template_code" jdbcType="VARCHAR" property="templateCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="res_code" jdbcType="VARCHAR" property="resCode" />
    <result column="res_msg" jdbcType="VARCHAR" property="resMsg" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sms_seq
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanson.entity.SmsSeqBean">
    insert into t_sms_seq (id, phone, template_code, 
      status, res_code, res_msg, 
      send_time)
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{templateCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{resCode,jdbcType=VARCHAR}, #{resMsg,jdbcType=VARCHAR}, 
      #{sendTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hanson.entity.SmsSeqBean">
    update t_sms_seq
    set phone = #{phone,jdbcType=VARCHAR},
      template_code = #{templateCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      res_code = #{resCode,jdbcType=VARCHAR},
      res_msg = #{resMsg,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, phone, template_code, status, res_code, res_msg, send_time
    from t_sms_seq
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, phone, template_code, status, res_code, res_msg, send_time
    from t_sms_seq
  </select>
</mapper>