<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanson.mapper.SpreadInfoBeanMapper">
  <resultMap id="BaseResultMap" type="com.hanson.entity.SpreadInfoBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="child_id" jdbcType="VARCHAR" property="childId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_spread_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanson.entity.SpreadInfoBean">
    insert into t_spread_info (id, parent_id, child_id, 
      create_date,level)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR}, #{childId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP},#{level,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hanson.entity.SpreadInfoBean">
    update t_spread_info
    set parent_id = #{parentId,jdbcType=VARCHAR},
      child_id = #{childId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, parent_id, child_id, create_date,level
    from t_spread_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, parent_id, child_id, create_date,level
    from t_spread_info
  </select>
  <select id="selectByChildId" resultMap="BaseResultMap">
    select id, parent_id, child_id, create_date,level
    from t_spread_info where child_id = #{childId,jdbcType=VARCHAR}
  </select>
  <select id="selectByParentId"  resultMap="BaseResultMap">
    select id, parent_id, child_id, create_date,level
    from t_spread_info where parent_id = #{parentId,jdbcType=VARCHAR}
    order by create_date desc
  </select>
</mapper>