<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanson.mapper.UserShareBeanMapper">
  <resultMap id="BaseResultMap" type="com.hanson.entity.UserShareBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="share_image" jdbcType="VARCHAR" property="shareImage" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_share
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanson.entity.UserShareBean">
    insert into t_user_share (id, open_id, goods_id, 
      share_image)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, 
      #{shareImage,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hanson.entity.UserShareBean">
    update t_user_share
    set open_id = #{openId,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      share_image = #{shareImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, open_id, goods_id, share_image
    from t_user_share
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, open_id, goods_id, share_image
    from t_user_share
  </select>
  <select id="selectByOpenIdAndGoodsId" resultMap="BaseResultMap">
    select id, open_id, goods_id, share_image
    from t_user_share where open_id = #{openId,jdbcType=VARCHAR} and goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
</mapper>