<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanson.mapper.WeiXinNotifyBeanMapper">
  <resultMap id="BaseResultMap" type="com.hanson.entity.WeiXinNotifyBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="attach" jdbcType="VARCHAR" property="attach" />
    <result column="order_seq" jdbcType="VARCHAR" property="orderSeq" />
    <result column="bank_type" jdbcType="VARCHAR" property="bankType" />
    <result column="total_fee" jdbcType="INTEGER" property="totalFee" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_weixin_notify
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanson.entity.WeiXinNotifyBean">
    insert into t_weixin_notify (id, open_id, attach, 
      order_seq, bank_type, total_fee, 
      remark, create_date)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, 
      #{orderSeq,jdbcType=VARCHAR}, #{bankType,jdbcType=VARCHAR}, #{totalFee,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hanson.entity.WeiXinNotifyBean">
    update t_weixin_notify
    set open_id = #{openId,jdbcType=VARCHAR},
      attach = #{attach,jdbcType=VARCHAR},
      order_seq = #{orderSeq,jdbcType=VARCHAR},
      bank_type = #{bankType,jdbcType=VARCHAR},
      total_fee = #{totalFee,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, open_id, attach, order_seq, bank_type, total_fee, remark, create_date
    from t_weixin_notify
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderSeq" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, open_id, attach, order_seq, bank_type, total_fee, remark, create_date
    from t_weixin_notify
    where order_seq = #{orderSeq,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, open_id, attach, order_seq, bank_type, total_fee, remark, create_date
    from t_weixin_notify
  </select>
  <select id="selectByOpenId" resultMap="BaseResultMap">
    select id, open_id, attach, order_seq, bank_type, total_fee, remark, create_date
    from t_weixin_notify where open_id = #{openId,jdbcType=VARCHAR}
  </select>
  <select id="selectFee" resultType="java.lang.Integer">
    select sum(total_fee)
    from t_weixin_notify WHERE 1=1
    <if test="type == 1">
     and  TO_DAYS( NOW( ) ) - TO_DAYS( create_date) <![CDATA[ <= ]]> 1
    </if>
    <if test="type == 2">
      and  DATE_SUB(CURDATE(), INTERVAL 30 DAY) <![CDATA[ <= ]]> date(create_date)
    </if>
  </select>
</mapper>