.address-management .line {
    width: 100%;
    height: .03rem;
}
.address-management .line img {
    width: 100%;
    height: 100%;
    display: block;
}
.address-management .item {
    background-color: #fff;
    padding: 0 .3rem;
    margin-bottom: .12rem;
}
.address-management .item .address {
    padding: .3rem 0;
    border-bottom: 1px solid #eee;
    font-size: .28rem;
    color: #282828;
}
.address-management .item .address .consignee {
    font-size: .28rem;
    font-weight: 700;
    margin-bottom: .08rem;
}
.address-management .item .address .consignee .phone {
    margin-left: .25rem;
}
.address-management .item .operation {
    height: .83rem;
    font-size: .28rem;
    color: #282828;
}
.address-management .item .operation .iconfont {
    color: #2c2c2c;
    font-size: .3rem;
    vertical-align: -.02rem;
    margin-right: .1rem;
}
.address-management .item .operation .iconfont.icon-shanchu {
    margin-left: .4rem;
    font-size: .33rem;
}
.address-management .item .operation .well-check {
    padding-left: .6rem;
}
.address-management .footer {
    position: fixed;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    height: 1.06rem;
    padding: 0 .3rem;
}
.address-management .footer .addressBnt.on {
    width: 6.9rem;
    margin: 0 auto;
}
.address-management .footer .addressBnt {
    width: 3.3rem;
    height: .76rem;
    border-radius: .5rem;
    text-align: center;
    line-height: .76rem;
    font-size: .3rem;
    color: #fff;
}
.address-management .footer .addressBnt .iconfont {
    font-size: .44rem;
    margin-right: .08rem;
    vertical-align: -.06rem;
}
.noCommodity {
    padding-top: .75rem;
}
.noCommodity .noPictrue {
    width: 4.14rem;
    height: 3.36rem;
    margin: 0 auto .3rem auto;
}
.noCommodity .noPictrue .image {
    width: 100%;
    height: 100%;
}