.flash-sale .header {
    width: 100%;
    height: 2.4rem;
}

.flash-sale .header img {
    width: 100%;
    height: 100%;
}

.flash-sale .header img {
    width: 100%;
    height: 100%;
}

.time-tabs.van-tabs--line {
    padding: 0;
}

.van-tabs {
    position: relative;
}

.van-tabs__wrap {
    z-index: 22 !important;
    overflow: hidden;
}

.time-tabs.van-tabs--line .van-tabs__wrap {
    height: 1.1rem;
}

.van-tabs__wrap--scrollable .van-tabs__nav {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.van-tabs__nav--line {
    box-sizing: content-box;
    height: 100%;
    padding-bottom: 15px;
}

.van-tabs__nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    -webkit-user-select: none;
    user-select: none;
}

.time-tabs .van-tab {
    padding: 0;
    -ms-flex-preferred-size: 27% !important;
    flex-basis: 27% !important;
    -webkit-flex-basis: 27% !important;
    height: .96rem;
    line-height: unset;
}

.van-tabs__wrap--scrollable .van-tab {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 22%;
    flex: 0 0 22%;
}

.van-tab {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    box-sizing: border-box;
    min-width: 0;
    padding: 0 5px;
    color: #7d7e80;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
}

.van-tab span {
    display: block;
}

.van-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.timeItem {
    font-size: .22rem;
    color: #282828;
    width: 100%;
    text-align: center;
    padding: .11rem 0;
    height: .96rem;
    background-color: #efc58f;
}

.timeItem .time {
    font-size: .32rem;
    font-weight: 700;
    height: .37rem;
    line-height: .37rem;
}

.timeItem .state {
    height: .37rem;
    line-height: .37rem;
}

.time-tabs .van-tab.van-tab--active .timeItem {
    background-color: #ff1f44;
    color: #fff;
}

.time-tabs .van-tab.van-tab--active .timeItem:before {
    content: "";
    width: 0;
    height: 0;
    border-left: .08rem solid transparent;
    border-right: .08rem solid transparent;
    border-top: .1rem solid #ff1f44;
    position: absolute;
    bottom: -.09rem;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.van-tabs__content--animated {
    overflow: hidden;
}

.van-tabs__track {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    will-change: left;
}

.van-tab__pane-wrapper--inactive {
    height: 0;
    overflow: visible;
}

.van-tab__pane, .van-tab__pane-wrapper {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

.van-tab__pane, .van-tab__pane-wrapper {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

.flash-sale .countDown {
    height: .92rem;
    border-bottom: 1px solid #f0f0f0;
    font-size: .28rem;
    color: #282828;
}

.activity {
    color: #333;
}

.flash-sale .list .item {
    padding: 0 .3rem;
    border-bottom: 1px solid #f0f0f0;
    height: 2.27rem;
    position: relative;
}

.flash-sale .list .item .pictrue {
    width: 1.66rem;
    height: 1.66rem;
}

.flash-sale .list .item .pictrue img {
    width: 100%;
    height: 100%;
    border-radius: .06rem;
}

.flash-sale .list .item .text {
    width: 5rem;
    font-size: .3rem;
    color: #333;
    height: 1.66rem;
}

.flash-sale .list .item .text .money {
    font-size: .24rem;
    color: #282828;
    margin-top: -.13rem;
}

.flash-sale .list .item .text .money .num {
    font-size: .34rem;
    font-weight: 700;
}

.flash-sale .list .item .text .progress {
    overflow: hidden;
    background-color: #fff;
    width: 2.6rem;
    border-radius: .2rem;
    height: .34rem;
    position: relative;
}

.flash-sale .list .item .text .progress .bg-red {
    width: 0;
    height: 100%;
    transition: width .6s ease;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    -o-transition: width .6s ease;
    background-color: #ffe3e1;
}

.flash-sale .list .item .text .progress .piece {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    top: 49%;
    font-size: .22rem;
}

.flash-sale .list .item .grab {
    background-color: #999;
}

.flash-sale .list .item .grab {
    font-size: .28rem;
    color: #fff;
    width: 1.4rem;
    height: .54rem;
    border-radius: .04rem;
    text-align: center;
    line-height: .54rem;
    position: absolute;
    right: .3rem;
    bottom: .3rem;
}

.font-color-red {
    color: #f36 !important;
}

.bg-color-red {
    background-color: #ff1f44 !important;
}

.cart-color {
    color: #ff1f44 !important;
    border: 1px solid #ff1f44 !important;
}

.flash-sale .countDown {
    height: 0.92rem;
    border-bottom: 1px solid #f0f0f0;
    font-size: 0.28rem;
    color: #282828;
}

.flash-sale .countDown .timeTxt {
    color: #fc4141;
}

.flash-sale .countDown .time {
    font-size: 0.28rem;
    color: #282828
}

.flash-sale .countDown .styleAll {
    font-size: 0.28rem;
    font-weight: bold;
    background-color: #ffcfcb;
    padding: 0.04rem 0.07rem;
    border-radius: 0.03rem;
    color: #fc4141;
}

.flash-sale .countDown .text {
}