.order-details .header {
    padding: 0 .3rem;
    height: 1.5rem;
    background-color: #e93323!important;
}
.order-details .header .pictrue {
    width: 1.1rem;
    height: 1.1rem;
}
.order-details .header .data {
    color: hsla(0,0%,100%,.8);
    font-size: .24rem;
    margin-left: .27rem;
}
.order-details .header .pictrue img {
    width: 100%;
    height: 100%;
}
.order-details .header .data .state {
    font-size: .3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: .07rem;
}
.order-details .header .data .time {
    margin-left: .2rem;
}
.order-details .nav {
    background-color: #fff;
    font-size: .26rem;
    color: #282828;
    padding: .25rem 0;
}
.order-details .nav .navCon {
    padding: 0 .4rem;
}
.order-details .nav .navCon .on {
    font-weight: 700;
    color: #e93323;
}
.order-details .nav .progress {
    padding: 0 .65rem;
    margin-top: .1rem;
}
.order-details .nav .progress .iconfont {
    font-size: .25rem;
    color: #939390;
    margin-top: -.02rem;
    width: .3rem;
    height: .3rem;
    line-height: .33rem;
    text-align: center;
    margin-right: 0!important;
}
.order-details .nav .progress .line {
    width: 1rem;
    height: .02rem;
    background-color: #939390;
}
.order-details .address {
    font-size: .26rem;
    color: #868686;
    padding: .25rem .3rem .3rem .3rem;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAKBAMAAACOO0tGAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAnUExURf///4u16Oxtbezz/J3B7NDh9vSmprjS8vGNjfjDw/vd3f7w8O57e0EOI68AAABSSURBVCjPY2CAAE4l7GACVJ4hUBArEIXJL8KuXw0mz4xdv2ABVJ77EHYDGmAGmGDXLwKT58CuX2cDTIEjdgOcYfJJ2A3Qgsmz4/CBwWgQUiMIAXzCOFELLk/nAAAAAElFTkSuQmCC) -0.14rem bottom repeat-x;
    background-size: 0.7rem 0.08rem ;
}
.order-details .address .name {
    font-size: .3rem;
    color: #282828;
    margin-bottom: .1rem;
}
.order-details .address .name .phone {
    margin-left: .4rem;
}
.orderGoods {
    background-color: #fff;
    margin-top: .12rem;
}
.orderGoods .total {
    width: 100%;
    height: .86rem;
    padding: 0 .3rem;
    border-bottom: .01rem solid #eee;
    font-size: .3rem;
    color: #282828;
    line-height: .86rem;
}
.goodWrapper .item {
    margin-left: .3rem;
    padding-right: .3rem;
    border-bottom: .02rem solid #f0f0f0;
    height: 1.8rem;
}
.goodWrapper .item .pictrue {
    width: 1.3rem;
    height: 1.3rem;
}
.goodWrapper .item .text {
    width: 5.37rem;
    position: relative;
}
.goodWrapper .item .pictrue .image {
    width: 100%;
    height: 100%;
    border-radius: .06rem;
}
.goodWrapper .item .text .money {
    font-size: .26rem;
    margin-top: .17rem;
}
.goodWrapper .item .text .attr {
    font-size: .2rem;
    color: #868686;
    margin-top: .07rem;
}
.goodWrapper .item .text .num {
    font-size: .26rem;
    color: #868686;
}
.goodWrapper .item .text .name {
    font-size: .28rem;
    color: #282828;
    width: 4.53rem;
}
.order-details .wrapper {
    background-color: #fff;
    margin-top: .12rem;
    padding: .3rem;
}
.order-details .wrapper .item {
    font-size: .28rem;
    color: #282828;
}
.order-details .wrapper .item .conter {
    color: #868686;
    width: 5rem;
    text-align: right;
}
.order-details .wrapper .item .conter .copy {
    font-size: .2rem;
    color: #333;
    border-radius: .03rem;
    border: 1px solid #666;
    padding: .03rem .15rem;
    margin-left: .24rem;
}
.order-details .wrapper .item~.item {
    margin-top: .2rem;
}
.order-details .footer {
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 0 .3rem;
    border-top: 1px solid #eee;
}
.order-details .footer .bnt {
    width: auto;
    height: .6rem;
    text-align: center;
    line-height: .6rem;
    border-radius: .5rem;
    color: #fff;
    font-size: .27rem;
    padding: 0 3%;
}
.order-details .footer .bnt.cancel {
    color: #aaa;
    border: 1px solid #ddd;
}
.order-details .footer .bnt~.bnt {
    margin-left: .18rem;
}
.goodWrapper .item .text .evaluate {
    position: absolute;
    width: 1.14rem;
    height: .46rem;
    border: 1px solid #e93323;
    color: #e93323;
    border-radius: .04rem;
    text-align: center;
    line-height: .46rem;
    right: 0;
    bottom: -.1rem;
}