<div id="footer" class="acea-row row-middle">
    <a href="${request.contextPath}/web/index" class="item <#if index?? && index == 1>on</#if>">
        <img src="${request.contextPath}/web/images/<#if index?? && index == 1>shouye1.png<#else>shouye2.png</#if>" alt=""/>
        <div>首页</div>
    </a>
    <a href="${request.contextPath}/web/category" class="item <#if category?? && category == 1>on</#if>">
        <img src="${request.contextPath}/web/images/<#if category?? && category == 1>spfl1.png<#else>spfl2.png</#if>" alt=""/>
        <div>分类</div>
    </a>
    <a href="${request.contextPath}/web/cartList" class="item <#if cart?? && cart == 1>on</#if>">
        <img src="${request.contextPath}/web/images/<#if cart?? && cart == 1>gouwuche1.png<#else>gouwuche2.png</#if>" alt=""/>
        <div>购物车</div>
    </a>
    <a href="${request.contextPath}/web/userCenter" class="item <#if userCenter?? && userCenter == 1>on</#if>">
        <img src="${request.contextPath}/web/images/<#if userCenter?? && userCenter == 1>wode1.png<#else>wode2.png</#if>" alt="">
        <div>我的</div>
    </a>
</div>