<div id="right-nav" class="home" style="position: fixed;">
    <div class="homeCon bg-color-red">
        <a href="${request.contextPath}/web/index" class="iconfont">
            <img src="${request.contextPath}/web/images/r-shouye.png" alt=""/>
        </a>
        <a href="${request.contextPath}/web/cartList" class="iconfont">
            <img src="${request.contextPath}/web/images/r-gouwuche.png" alt=""/>
        </a>
        <a href="${request.contextPath}/web/userCenter" class="iconfont">
            <img src="${request.contextPath}/web/images/r-wode.png" alt=""/>
        </a>
        <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzUxODE1MDI4Mg==&scene=124#wechat_redirect" class="iconfont">
            <img src="${request.contextPath}/web/images/r-lianxi.png" alt=""/>
        </a>
    </div>
    <div class="pictrue">
        <img data-v-99716034="" src="${request.contextPath}/web/images/xiala.gif" class="image">
    </div>
</div>